/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Escape {
            bindings = <&kp ESC>;
            key-positions = <0 11>;
        };

        OpenParenthesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <15 16>;
        };

        CloseParenthasis {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <19 20>;
        };

        Question {
            bindings = <&kp QUESTION>;
            key-positions = <8 7>;
        };

        Delete {
            bindings = <&kp DELETE>;
            key-positions = <4 5>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <38 39>;
        };

        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <10 11>;
        };

        Escape2 {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        Backspace_ {
            bindings = <&kp BACKSPACE>;
            key-positions = <6 7>;
        };

        Dvoetochie {
            bindings = <&kp LS(NUMBER_6)>;
            key-positions = <2 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | ENTR |
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   | ./, | '/" |  /* | EQU |
            //                    | GUI | LWR | SPC |   | SPC | L2   | L1  |

            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R  &mt GRAVE T    &kp Y      &kp U                &kp I         &kp O    &kp P               &kp LEFT_BRACKET
&kp LEFT_SHIFT  &kp A  &kp S  &kp D         &kp F  &kp G          &kp H      &kp J                &kp K         &kp L    &kp SEMI            &kp SQT
&kp LCTRL       &kp Z  &kp X  &kp C         &kp V  &kp B          &kp N      &mt RIGHT_BRACKET M  &kp COMMA     &kp SQT  &mt SLASH QUESTION  &kp RIGHT_SHIFT
                              &kp LEFT_GUI  &mo 1  &kp SPACE      &kp ENTER  &mo 2                &kp LEFT_ALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // | SYSR |     |     |     |     |     |   |     |  1  |  2  |  3  |  0  |      |
            // |      |     |     | UP  |     |     |   |     |  4  |  5  |  6  |     |      |
            // |      |     | LFT | DWN | RGT |     |   |     |  7  |  8  |  9  |     |      |
            //                    |     |     | SPC |   | SPC |     |     |

            bindings = <
&kp ESCAPE  &trans  &trans    &trans        &trans     &trans       &trans     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp N0  &kp BACKSPACE
&trans      &trans  &trans    &kp UP        &trans     &trans       &trans     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans  &trans
&trans      &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &trans       &trans     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans  &trans
                              &kp LEFT_GUI  &trans     &kp SPACE    &kp ENTER  &trans        &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  &  |  %  |   |  ^  |  $  |  *  |  (  |  )  | BSPC |
            // | CTRL |MUTE |V_UP |V_DWN|  <  |  >  |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | SPC |     | ALT |

            bindings = <
&kp ESCAPE   &kp EXCL      &kp AT             &kp HASH         &kp AMPERSAND  &kp PRCNT           &kp CARET  &kp DOLLAR         &kp ASTRK  &kp LPAR  &kp RPAR  &kp BACKSPACE
&kp LCTRL    &kp C_MUTE    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp LESS_THAN  &kp GREATER_THAN    &kp MINUS  &kp EQUAL          &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&bootloader  &bt BT_SEL 0  &bt BT_SEL 1       &bt BT_SEL 2     &bt BT_SEL 3   &bt BT_CLR          &kp UNDER  &kp RIGHT_BRACKET  &kp LBRC   &kp RBRC  &kp PIPE  &bootloader
                                              &kp LGUI         &trans         &kp SPACE           &kp ENTER  &trans             &kp RALT
            >;
        };
    };
};

//For new Layers
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
